#flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  background-color: #282c34;
}

#title {
  color: white;
  font-size: calc(18px + 2.5vmin);
  white-space: nowrap;
}

#factContainer {
  text-align: center;
  padding: 15px 50px;
}

#factContainer>span {
  display: block;
  margin-bottom: 15px;
  font-size: calc(8px + 1.5vmin);
  text-align: center;
  color: white;
}

@media only screen and (max-width: 480px) {
  #currentFact {
    padding: 0px 15px
  }
}